* {
    margin: 0px;
    padding: 0px;
}

/* esta parte pertenece al cuerpo del index */
.mainindex {
    display: flex;
    flex-direction: column;
    font-family: alfa slab one;
    color: rgba(6, 17, 46, 0.979);
    padding: 10px;
}

/* estilos al carrusel*/
.container {
    width: 100%;
    height: 100vh;
    justify-content: center;
}

.carrusel__texto {
    font-size: 1.75em;
    color: #eed7b8;
}

/* estilos tarjetas */
.content {
    width: 100%;
    margin: 30px auto;
    display: flex;
}

.tarjeta-wrap {
    margin: 10px;
    -webkit-perspective: 600;
    perspective: 600;
}

.tarjeta-wrap:hover .tarjeta {
    transform: rotateY(180deg);
}

.tarjeta {
    width: 31vw;
    height: 45vh;
    background-color: rgba(228, 207, 19, 0.71);
    position: relative;
    transform-style: preserve-3d;
    transition: .7s ease;
    box-shadow: 0px 10px 15px -5px rgba(9, 0, 0, 0.65);
}

.frente,
.contrafrente {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
}

.frente {
    width: 100%;
}

.card1 {
    background-image: url(../images/camaro.jpg);
    background-size: cover;
}

.card2 {
    background-image: url(../images/vento.jpg);
    background-size: cover;
}

.card3 {
    background-image: url(../images/captiva.jpg);
    background-size: cover;
}

.contrafrente {
    transform: rotateY(180deg);

    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-family: alfa slab one;
    color: rgba(6, 17, 46, 0.979);
    font-size: 1.5em;
}

/* estilos a la seccion articulo */
.articulo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10vh 50vh;
    grid-template-areas:
        "h3 h3"
        "ifr1 ifr2";
}

.articulo__h3 {
    grid-area: h3;
}

.articulo__ifr {
    grid-area: ifr1;
    align-self: center;
    justify-self: center;
}

.articulo__ifr--1 {
    grid-area: ifr2;
}

.baseTarjeta {
    margin: 10px;
}

.baseTarjeta__h3 {
    font-size: 1em;
}

.baseTarjeta__p {
    font-size: 0.8em;
}


@media (max-width: 450px) {
    .container{
        height: auto;
    }

    .content {
        flex-direction: column;
    }

    .tarjeta {
        width: 95vw;
        height: 45vh;
    }

    .tarjeta-wrap {
        margin: 0;
    }

    .articulo {
        display: flex;
        flex-direction: column;
    }

    .articulo__ifr {
        width: 90vw;
        height: 40vh;
        margin: 10px;
    }

}

@media screen and (min-width:451px) and (max-width:780px) {
    .container{
        height: auto;
    }

    .content {
        flex-direction: column;

    }

    .wrap {
        align-self: center;
    }


    .tarjeta {
        width: 100vw;
        height: 90vh;
    }

    .tarjeta-wrap {
        margin: 0;
    }

    .articulo__ifr {
        width: 50vw;
        height: 45vh;
        margin: 5px;
    }

}

/*esta parte pertenece a busca tu auto*/


#mainBusca {
    background-color: white;
    font-family: alfa slab one;
    height: 100%;
    margin-bottom: 30px;
}

.mainBusca__titulo {
    color: rgb(42, 49, 29);
    text-align: center;
}

/* estilos de la galeria */
.galeria {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 150px;
    padding: 0px;
    grid-gap: 30px;
    margin: 0 15px 0 15px;

}

.item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 3px solid #615959;
    border-radius: 7px;
    filter: brightness(70%);


}

.item__titulo {
    font-size: 16px;
    margin-top: 3px;
}

@keyframes escalar {
    to {
        transform: scale(1);
    }

    from {
        transform: scale(1.05);
    }
}

.item__img:hover {
    filter: brightness(100%);
    animation: escalar 3s infinite;
}

/*estilos modal */

.boton-modal {
    width: 40px;
    height: 40px;
    font-size: 30px;
    background: rgba(228, 207, 19, 0.71);
    color: rgba(6, 17, 46, 0.979);
    border-radius: 20px;
}

.boton-modal:hover {
    background: rgba(228, 218, 134, 0.71);
}

.modalTitulo {
    color: rgba(6, 17, 46, 0.979);
}

.modalCuerpo img {
    object-fit: cover;
    width: 450px;
}

td {
    padding: 5px;
    width: 300px;
    color: rgba(6, 17, 46, 0.979);
}

.td1 {
    background: #EBEBEB;
}

.td2 {
    background: #F5F5F5;
}

.dt1 {
    background: #F5F5F5;
}

.dt2 {
    background: #FFFFFF;
}


@media screen and (max-width:480px) {
    .galeria {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
    }

    #mainBusca {
        height: auto;
    }

    .item__img {
        width: 60%;
        height: 60%;

    }

}

@media screen and (min-width:481px) and (max-width:768px) {
    .galeria {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }

    #mainBusca {
        height: auto;
    }

    .item__img {
        width: 75%;
        height: 75%;

    }

}

@media screen and (min-width:769px) and (max-width:1200px) {
    .galeria {
        grid-template-columns: repeat(4, 1fr);

    }

    #mainBusca {
        height: auto;
    }

}



/*esta parte pertenece a la seccion Financialo */

.mainFinancialo {
    display: grid;
    grid-template-areas:
        "div1 div2"
        "sim sim"
        "art1 art2";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 600px 200px;
    font-family: "alfa slab one";
    color: rgba(6, 17, 46, 0.979);
    line-height: 1.1;
}

.encabezado {
    grid-area: div1;
    padding: 0px 150px 30px 100px;
    align-content: center;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom, rgb(105, 102, 102), rgb(122, 117, 117), white);
}

.encabezado__titulo {
    font-size: 30px;
}


.parrafo--1 {
    font-size: 18px;
}

.parrafo--2 {
    font-size: 14px;
}

.div2 {
    grid-area: div2;
    background-image: linear-gradient(to bottom, rgb(105, 102, 102), rgb(122, 117, 117), white);
    text-align: center;
    padding-top: 20px;
}

.div2,
h2 {
    font-size: 18px;
}

.art1 {
    grid-area: art1;
}

.art2 {
    grid-area: art2;
}

.art1,
.art2 {
    text-align: justify;
    font-size: 15px;
    color: #818386;
    width: 50%;
    justify-self: center;
}

/* seccion principal de financialo */
#contenido {
    grid-area: sim;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    justify-items: center;

}

.simulador,
.requisitos {
    background-color: rgba(190, 184, 184, 0.81);
    width: 80%;
    height: 85%;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: 0px 10px 15px -5px rgba(9, 0, 0, 0.65);
}

.simulador__h3,
.requisitos__h3 {
    padding-left: 20px;
    padding-top: 5px;
    font-size: 40px;
}

.simulador .simulador__form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form__input,
.form__select {
    font-family: 'Times New Roman', Times, serif;
    height: 50px;
    margin-right: 20px;
    margin-left: 20px;
}

.form__label {
    font-size: 20px;
    margin: 20px 5px 0px 20px;
    text-align: center;
}

.form__output {
    text-align: center;
    background-color: rgba(228, 207, 19, 0.71);
    font-size: 30px;
    width: 30%;
    border-radius: 20px;
    align-self: center;
    margin-bottom: 20px;
    box-shadow: 0px 10px 15px -5px rgba(9, 0, 0, 0.65);
}

.form__select {
    align-self: center;
    margin: 20px;
    width: 92%;
    border-radius: 20px;
}

.form__select,
option {
    padding-left: 10px;
    border: solid 3px rgba(228, 207, 19, 0.71);
}

.form__input--boton {
    margin: 20px;
    width: 30%;
    align-self: center;
    border-radius: 25px;
    border: solid 3px rgba(228, 207, 19, 0.71);
    background-color: rgba(228, 207, 19, 0.71);
    font-size: 20px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(6, 17, 46, 0.979);
    box-shadow: 0px 10px 15px -5px rgba(9, 0, 0, 0.65);
}

.form__input--boton:hover {
    background-color: #434343;
    border: solid 3px rgba(6, 17, 46, 0.979);
    color: white;
}

.requisitos ul li {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.requisitos ul {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0;
}

.requisitos a {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    text-decoration: none;
}

/*Responsive Financialo */

@media only screen and (max-width: 576px) {
    .mainFinancialo {
        grid-template-columns: 41vw 59vw;
        grid-template-rows: 130px 650px 100px;
    }

    .encabezado {
        padding: 0px 10px 10px 10px;
        align-content: center;
    }

    .encabezado__titulo {
        font-size: 15px;
    }


    .parrafo--1 {
        font-size: 12px;
    }

    .parrafo--2 {
        font-size: 10px;
    }

    #contenido {
        grid-template-columns: 100vw;
        justify-items: center;
        width: 100%;
        height: 600px;
    }

    .simulador,
    .requisitos {
        width: 98%;
        height: 95%;
    }

    .form__label {
        font-size: 15px;

    }

    .form__output {
        font-size: 15px;
    }

    .simulador__h3,
    .requisitos__h3 {
        padding-left: 10px;
        padding-top: 5px;
        font-size: 20px;
    }

    .requisitos ul li {
        font-size: 10px;
    }

    .form__input--boton {
        margin: 0px;
        width: 45%;
        font-size: 15px;
    }

    .form__select {
        margin: 5px;
    }

    .art1,
    .art2 {
        text-align: left;
        width: 100%;
        padding-left: 10px;
        font-size: 10px;
    }

}

@media only screen and (min-width: 577px) and (max-width: 1052px) {
    .mainFinancialo {
        grid-template-columns: 41vw 59vw;
        grid-template-rows: 200px 850px 200px;
    }

    .encabezado {
        padding: 0px 20px 20px 20px;
        align-content: center;
    }

    #contenido {
        grid-template-columns: 100vw;
        justify-items: center;
        width: 576px;
        height: 600px;
    }

    .simulador,
    .requisitos {
        width: 90%;
        height: 95%;
    }

    .simulador__h3,
    .requisitos__h3 {
        padding-left: 10px;
        padding-top: 5px;
        font-size: 25px;
    }

    .sectionLista__titulo {
        font-size: 15px;
        padding: 10px;
    }

    .sectionLista__Lista__item {
        margin: 10px;
    }

    .form__input--boton {
        margin: 5px;
        width: 40%;
    }

    .form__select {
        margin: 5px;
    }

    .art1,
    .art2 {
        text-align: left;
        width: 200px;
        padding-left: 30px;
    }
}


/*esta parte pertenece al cuerpo principal de Empresa*/
.mainEmpresa {
    display: grid;
    grid-template-areas:
        "titulo titulo"
        "parrafo lista";
    grid-template-columns: 1.25fr 0.75fr;
    grid-template-rows: 100px 595px;
    font-family: "alfa slab one";
    color: rgba(6, 17, 46, 0.979);
}


.mainEmpresa:before {
    content: "";
    width: 100%;
    height: 670px;
    background-image: url(../images/salon.jpg);
    width: 100%;
    height: 650px;
    background-size: cover;
    position: absolute;
    opacity: 0.6;
}

.h1Empresa {
    grid-area: titulo;
    margin: 0;
    padding: 0;
    justify-self: center;
    align-self: center;
    font-size: 40px;
    position: relative;
}

.sectionEmpresa {
    grid-area: parrafo;
    margin: 0;
    padding: 100px 25px 25px 25px;
    font-size: 24px;
    text-align: justify;
    position: relative;
}

.sectionLista {
    grid-area: lista;
    margin: 0;
    padding: 0;
    justify-self: center;
    text-align: center;
    position: relative;
}

.sectionLista__titulo {
    font-size: 25px;
    padding: 10px;
}

.sectionLista__Lista__item {
    margin: 20px;
    background-color: rgba(245, 225, 45, 0.71);
    transform: skewX(-20deg);
    font-size: 20px;
    padding: 20px;
    box-shadow: 0px 10px 15px -5px rgba(9, 0, 0, 0.65);

}

/* responsive empresa */

@media (max-width: 576px) {

    .mainEmpresa {
        display: flex;
        flex-direction: column;
        height: 650px;
    }

    .h1Empresa {
        font-size: 15px;
    }

    .sectionEmpresa {
        padding: 10px;
        font-size: 10px;
    }

    .sectionLista__titulo {
        font-size: 15px;
        padding: 5px;
    }

    .sectionLista__Lista__item {
        margin: 20px;
        background-color: rgba(245, 225, 45, 0.71);
        transform: skewX(-20deg);
        font-size: 10px;
        padding: 10px;
    }

}

@media only screen and (min-width: 577px) and (max-width: 1052px) {
    .mainEmpresa {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 40px 610px;
    }

    .h1Empresa {
        font-size: 20px;
    }

    .sectionEmpresa {
        padding: 10px;
        font-size: 15px;
    }

    .sectionLista__titulo {
        font-size: 15px;
        padding: 10px;
    }

    .sectionLista__Lista__item {
        margin: 10px;
    }
}



/* esta parte pertenece a form contact*/

#contacto {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-image: url(../images/fondoContact.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 120vh;
    margin: 0;
}

.formContact {
    width: 45vw;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 20px;
}

.formContact input {
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-size: 18px;
    color: seashell;
    border: none;
    padding: 10px;
    border-radius: 7px;
    font-family: 'Times New Roman', Times, serif;
    background: rgba(58, 57, 57, 0.879);

}

.formContact select {
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-size: 18px;
    color: seashell;
    border: none;
    padding: 10px;
    border-radius: 7px;
    font-family: 'Times New Roman', Times, serif;
    background: rgba(58, 57, 57, 0.879);
}

textarea {
    min-height: 100px;
    max-height: 250px;
    max-width: 100%;
    min-width: 100%;
    color: seashell;
    border-radius: 7px;
    font-size: 18px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    background: rgba(58, 57, 57, 0.879);

}

select {
    margin-right: 30px;
    color: black;

}

#boton {
    background: #31384a;
    color: #fff;
    padding: 20px;
    font-size: 20px;
    margin-top: 20px;
    box-shadow: 0px 10px 15px -5px rgba(9, 0, 0, 0.65);

}

#boton:hover {
    cursor: pointer;
}


.h1Contact {
    color: rgba(6, 17, 46, 0.979);
    text-align: center;
    margin: 0;
    font-family: "alfa slab one";
    font-size: 30px;
    margin-bottom: 20px;
}

.mapa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.mapa__iframe {
    width: 130%;
    height: 60vh;
}

.mapa__titulo {
    font-size: 30px;
    font-family: "alfa slab one";
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Responosive contactanos */

@media (max-width: 576px) {
    #contacto {
        display: flex;
        flex-direction: column;
        background-size: 100vw 190vh;
        margin: 0;
        height: 170vh;
    }

    .formContact {
        width: 80vw;
        z-index: 50;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #contacto {
        flex-direction: column;
    }

    .h1Contact {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .mapa__titulo {
        font-size: 20px;
        margin-bottom: 5px;

    }

    .mapa__iframe {
        width: 50vw;
    }
}

@media only screen and (min-width: 577px) and (max-width: 968px) {
    .formContact {
        width: 50vw;
        z-index: 50;
        margin: 5px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .mapa__iframe {
        width: 45vw;
    }

    .h1Contact {
        font-size: 20px;
        margin-top: 10px;
    }

    .mapa__titulo {
        font-size: 20px;
        margin-bottom: 5px;
        margin-top: 0;

    }
}
