@import "variables";

footer {
    background-image: linear-gradient(to top, rgb(41, 39, 39), grey, white);
    display: grid;
    justify-items: center;
    margin: 0;
    
}

.datosContacto {
    display: flex;
    flex-direction: column;
    font-family: $fontFamily;
    color: $fontColor;
    font-size: 20px;
    text-align: center;
    margin: 20px;
    
    p {
        margin-bottom: 0;
    }
    
    a {
        text-decoration: none;
        color: $fontColor;
        margin-bottom: 0;
    }

}

h5 {
    color: antiquewhite;
    margin: 0;
    font-size: 15px;
}

.social {
    display: flex;
    flex-direction: row;
    font-size: 40px;
    justify-content: center;
}

.social__facebook {
    color: #3b5998;
}

.social__instagram {
    color: rgba(177, 15, 109, 0.91);
    margin-left: 100px;
    margin-right: 100px;

}

.social__whatsapp {
    color: #00bb2d;
}

@media (max-width: 576px) {
    footer {
        justify-items: center;
    }

    .datosContacto {
        font-size: 15px;
        text-align: center;
        margin: 5px;
    }

    h5 {
        color: antiquewhite;
        margin: 0;
        font-size: 10px;
    }

    .social {
        width: 350px;

    }
}

@media only screen and (min-width: 577px) and (max-width: 968px) {
    footer {
        justify-items: center;
    }

    .datosContacto {
        font-size: 10px;
        text-align: center;
        margin: 5px;
    }

    h5 {
        color: antiquewhite;
        margin: 0;
        font-size: 10px;
    }

    .social {
        width: 420px;

    }
}