/* esta parte pertenece al header */
@import "header";
/* esta parte pertenece al footer */
@import "footer";
/* esta parte pertenece a 404 */
@import "404";

@import "variables";

* {
    margin: 0;
    padding: 0;
}

/* pertenece a seccion vender */
.mainVender {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    height: 600px;
    position: relative;
    font-family: $fontFamily;
    color: $fontColor;

    &:before {
        content: "";
        width: 100%;
        height: 100%;
        background-image: url(../images/backVender.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        opacity: 0.6;
    }
}

.parrafo {
    position: relative;
}

.parrafo--primero {
    font-size: 65px;

}

.parrafo--segundo {
    font-size: 25px;
    margin-top: 30px;

}

.formVender {
    font-size: 20px;
    position: relative;
}

.form {
    display: flex;
    flex-direction: column;

    .form__input {
        margin-top: 5px;
        margin-bottom: 5px;
        height: 40px;
        border-radius: 15px;
        font-family: 'Times New Roman', Times, serif;
        padding-left: 10px;
    }

    .form__select {
        @extend .form__input;
    }
}
